# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


#this is for macos
/main

# Test binaries and coverage reports
*.test
*.out
*.coverprofile
profile.cov

# Dependency directories
vendor/

# Go workspace files
go.work
go.work.sum


# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

